<!DOCTYPE html>
<html>

<head>
    <meta lang="es" charset="utf-8">
    <title>ThreatBox_</title>
    <link href="/static/main.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header id="main-header">
        <a id="logo-header" href="/">
            <span class="site-name">ThreatBox_</span>
            <span class="site-desc">Ciber Threat Repository</span>
        </a>
        <nav>
            <ul>
                <li><a href="{{ url_for('upload') }}">repositorio</a></li>
                {% if session.name %}
                    <li><a href="{{ url_for('logout') }}">logout&nbsp;&nbsp;<i class="fas fa-user-circle"></i>&nbsp;<span style="color:#cc0000;font-weight:bold;font-size:14px;">{{ session.name }}</span></a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}"><i class="far fa-user-circle"></i>&nbsp;login</a></li>
                    <li><a href="{{ url_for('register') }}"><i class="fas fa-sign-in-alt"></i>&nbsp;sign up</a></li>
                <li><a href="{{ url_for('about') }}">about</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <section id="main-content">
        <article>
            {% block content %}

            {% endblock %}
        </article>
    </section>
    <footer id="main-footer">
        <p>&COPY;&nbsp;ThreatBox_&nbsp;2020&nbsp;&nbsp;&VerticalSeparator;&nbsp;&nbsp;<a
                href="mailto:adrian.cripto@gmail.com">adrian.cripto@gmail.com</a></p>
    </footer>
</body>

</html>