{% extends "base.html" %}
{% block content %}
<article>
    <div class="banner">
        <p>Accede</p>
        <b>
            <div class="innerbanner">
                a fuentes<br /> 
                catalogadas y<br />
                categorizadas<br />
                de amenazas<br />
                online
            </div>
        </b>
    </div>
    <div class="content">
        <form action="{{ url_for('buscar') }}" method="GET">
            <div id="buscador">
                <input type="text" name="busca" value="{{ busca }}" autofocus="true" /><input type="submit" value="SEARCH" />
            </div>
        </form>
        {% if total %}
        <table id="tablabusca">
            <thead>
                <tr>
                    <th>Direccion</th>
                    <th>Fuente</th>
                    <th>Categoría</th>
                    <th>Subcategoría</th>
                </tr>
            </thead>
            <tbody>
            {% for dato in datos %}
                <tr>
                    <td><a href="{{url_for('ficha', id=dato._id)}}">{{ dato.direccion }}</a></td>
                    <td><a href="{{url_for('ficha', id=dato._id)}}">{{ dato.fuente }}</a></td>
                    <td><a href="{{url_for('ficha', id=dato._id)}}">{{ dato.categoria }}</a></td>
                    <td><a href="{{url_for('ficha', id=dato._id)}}">{{ dato.subcategoria }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {{ pagination.links }}
    </div>
</article>
{% endblock %}