{% extends "base.html" %}
{% block content %}
<article>
    <div class="content">
        <div id="acceso">
            {% from "_formhelpers.html" import render_field %}
            <form name="login" action="{{ url_for('login') }}" method="POST">
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
                <input type="submit" value="Iniciar sesión" />
                <p>No estás registrado?&nbsp;<a href="{{ url_for('register') }}">Regístrate</a></p>
            </form>
        </div>
    </div>
</article>
{% endblock %}