{% extends "base.html" %}
{% block content %}
<article>
    <div class="content">
        <div id="acceso">
            {% from "_formhelpers.html" import render_field %}
            <form action="{{ url_for('register') }} " method="post">
                {{ render_field(form.username) }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.password2) }}
                <input type=submit value=Registrarse>
                <p>Ya estás registrado?&nbsp;<a href="{{ url_for('login') }}">Login</a></p>
            </form>
        </div>
    </div>
</article>
{% endblock %}